.photo-grid {
    padding: 0 16px 64px;
}

@media (min-width: 767px) {
    .photo-grid {
        padding: 0 24px 88px;
    }
}

@media (min-width: 1023px) {
    .photo-grid {
        padding: 0 48px 92px;
    }
}