.cover_overlay::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: 2;
  transition: opacity 150ms ease-in-out;
}

.cover_overlay:hover::before {
    opacity: 0.8;
}

