.place__image {
    width: calc(100% + 32px);
    position: relative;
    left: -16px;
    margin-bottom: 32px;
}

@media (min-width: 767px) {
    .place__image {
        width: 100%;    
        position: static;
        margin: 0;
    }
  }