.lead {
    padding-bottom: 64px;
}

@media (min-width: 767px) {
    .lead {
        padding-bottom: 88px;
    }
  }

  @media (min-width: 1023px) {
    .lead {
        padding-bottom: 92px;
    }
  }