.header {
    display: flex;
    min-height: 42px;
    padding: 16px 16px 48px;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 767px) {
    .header {
        min-height: 52px;
        padding: 28px 24px 48px;
    }
  }

  @media (min-width: 1023px) {
    .header {
        padding: 28px 48px 48px;
    }
  }

  @media (min-width: 1279px) {
    .header {
        padding: 28px 48px 56px;
    }
  }