.footer__links {
    margin: 0;
    padding: 0 0 16px 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

@media (min-width: 767px) {
    .footer__links {
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
    }
  }