.intro {
    padding-bottom: 64px;
}

@media (min-width: 767px) {
    .intro {
        padding-bottom: 88px;
    }
  }

  @media (min-width: 1023px) {
    .intro {
        padding-bottom: 92px;
    }
  }
