.root {
    font-family: 'inter', Arial, sans-serif;
    color: white;
    background-color: #2A2C2F;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    min-width: 320px;
}

/*Поставил max-width: 1184px; для блока photo-grid (единственного блока, который размазывался). 
Если ставлю max-width: 1280px; для блока root, при большом размере появляются белые зоны слева и справа.*/
