.root {
  font-family: 'inter', Arial, sans-serif;
  color: white;
  background-color: #2A2C2F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  padding: 0 16px 0;
  overflow: hidden;
}

@media (min-width: 767px) {
  .root {
    padding: 0 24px 0;
  }
}

@media (min-width: 1023px) {
  .root {
    padding: 0 48px 0;
  }
}

@media (min-width: 1279px) {
  .root {
    padding: 0 148px 0;
  }
}