.test1 {
    margin: 0;
    font-style:  normal;
    font-weight: 900;
    color: brown;
}

.test2 {
    margin: 0;
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
}

.test3 {
    margin: 0;
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
}