.cover {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    text-align: center;
    width: calc(100% + 32px);
    height: 100%;
    position: relative;
    left: -16px;
    text-decoration: none;
    color: white;
}

@media (min-width: 767px) {
    .cover {
        width: calc(100% + 48px);
        left: -24px;
    }
  }

  @media (min-width: 1024px) {
    .cover {
        width: calc(100% + 96px);
        left: -48px;
    }
  }

  @media (min-width: 1279px) {
    .cover {
        position: relative;
        width: calc(100% + 200px);
        left: -100px;
    }
  }