.place {
    padding-bottom: 50px;
}

@media (min-width: 767px) {
    .place {
        display: grid;
        grid-template-columns: 1fr 352px;
        grid-template-rows: max-content max-content;
        gap: 28px 48px;
        padding-bottom: 73px;
    }
  }

  @media (min-width: 1023px) {
    .place {
        grid-template-columns: 1fr 456px;
        grid-template-rows: max-content max-content;
        gap: 32px 48px;
        padding-bottom: 80px;
    }
  }

  @media (min-width: 1279px) {
    .place {
        grid-template-columns: 1fr 484px;
        grid-template-rows: max-content max-content;
        gap: 40px 48px;
        padding-bottom: 80px;
    }
  }