.footer {
    padding: 64px 0 24px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

@media (min-width: 767px) {
    .footer {
        padding-top: 88px;
        flex-direction: row;
        justify-content: space-between;
    }
  }

  @media (min-width: 1024px) {
    .footer {
        padding-top: 92px;
    }
  }

  @media (min-width: 1279px) {
    .footer {
        position: relative;
        width: calc(100% + 200px);
        left: -100px;
    }
  }